[data-tab="bild"] {
    position: relative;
}


[data-tab="bild"] nav .zoom_with,
[data-tab="bild"] nav .zoom_original,
[data-tab="bild"] nav .hide_markers,
[data-tab="bild"] nav .show_markers,
[data-tab="bild"] nav .hide_edit,
[data-tab="bild"] nav .show_edit {
    display: none;
}

[data-tab="bild"] .image-container {
    position: absolute;
    width: 60%;
    height: 100%;
    overflow: auto;
}

[data-tab="bild"] form {
    position: absolute;
    top:0;
    right: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
    background: white;
}

[data-tab="bild"].hideEdit .image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

[data-tab="bild"].hideEdit  form {
    display: none;
}

[data-tab="bild"] .image-container canvas{
    position: absolute;
    top:0;
    left:0;
    background: white;
    opacity: .2;
    cursor: copy;
}

[data-tab="bild"] .image-container .markers{
    position: absolute;
    top:0;
    left:0;
}

[data-tab="bild"] .image-container .markers .resizable {
    position: absolute;;
}

[data-tab="bild"] .image-container .markers .resizable:after {
    position: absolute;
    left:3px;
    bottom:3px;
    right: 3px;
    text-align: center;
    background: rgba(66,134,244,.4);
    color:white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
    pointer-events: none;
    content: attr(data-name);
    z-index: 1;
}

[data-tab="bild"] .image-container .markers  .resizable .resizers{
width: 100%;
height: 100%;
border: 3px solid #4286f4;
box-sizing: border-box;
z-index: 2;
}

[data-tab="bild"] .image-container .markers  .resizable .resizers .resizer{
width: 10px;
height: 10px;
border-radius: 50%; /*magic to turn square into circle*/
background: white;
border: 3px solid #4286f4;
position: absolute;
z-index: 2;
}

[data-tab="bild"] .image-container .markers  .resizable .resizers .resizer.top-left {
left: -5px;
top: -5px;
cursor: nwse-resize; /*resizer cursor*/
}
[data-tab="bild"] .image-container .markers  .resizable .resizers .resizer.top-right {
right: -5px;
top: -5px;
cursor: nesw-resize;
}
[data-tab="bild"] .image-container .markers  .resizable .resizers .resizer.bottom-left {
left: -5px;
bottom: -5px;
cursor: nesw-resize;
}
[data-tab="bild"] .image-container .markers  .resizable .resizers .resizer.bottom-right {
right: -5px;
bottom: -5px;
cursor: nwse-resize;
}