.custom-file-input {
    visibility: hidden;
    color: transparent;
    width: 0;
    height: 0;
}

.custom-file-input-label {
    display: block;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}
