section form {
    padding:0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 370px;
}

section form fieldset {
    background: #fefefe;
    border:1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    min-width: 800px;
    flex-grow: 1;
    margin: 20px;


}

section table {
   width: 100%;
}

section form a {
    display: block;
    text-align: center;
    color: black;
}


section form input,
section form a,
section form select,
section form button,
section form textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background:white;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

section form input,
section form select,
section form button {
    height: 32px;
}

section form label {
    font-size: 20px;
    line-height: 32px;
}

section form button,
section form a {
    background: lightskyblue;
    color:white;
    border:none;
    cursor: pointer;
}

section form textarea {
    resize: none;
}
